.row.mt-2
    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        %h1.text-center Search for a Cycle

    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        = form_tag search_campaign_finances_path, method: :get do
            .form-group.row
                .col-md-4
                    %label.col-form-label
                        Select a cycle:
                .col-md-6
                    = select_tag(:cycle, options_for_select(@cycles))

            .form-group.row
                .col-md-4
                    %label.col-form-label
                        Select a category:
                .col-md-6
                    = select_tag(:category, options_for_select(@categories.keys))

            .actions
                = submit_tag 'Search', class: 'btn btn-primary'
